@import '../../../../shared/mixins.scss';

.list-messages {
  background-color: $backgroundColor;
  height: calc(100vh - #{$heightFormaBig});
  overflow-y: scroll;
  overflow-x: hidden;
  border: $defaultBorder;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .list-messages {
    height: calc(
      100vh - #{$heightMainUserSmall} - #{$heightFormaSmall} - #{$heightPanelPhone} -
        #{$heightTopSmall}
    );
  }
}
