@import '../../../../shared/mixins.scss';

.list-messages {
  background-color: $backgroundColor;
  height: calc(100vh - #{$heightFormaBig});
  // overflow-y: hidden;
  overflow-x: hidden;
  border: $widthBorder var(--mainColor) solid;
  box-sizing: border-box;
}

.list-messages__inside {
  width: calc(100vw - 280px);
}

@media screen and (max-width: 600px) {
  .list-messages {
    height: calc(
      100vh - 351px
    );
  }

  .list-messages__inside {
    width: calc(100vw - 30px);
  }
}
