@import '../../shared/mixins.scss';

.main {
  display: flex;
  font-size: 20px;
  font-family: 'Inter', Arial, sans-serif;
}

.main__left {
  @include size(#{$widthLeftBlockBig}, 100vh);
  background-color: $backgroundColor;
}

.main__right {
  width: calc(100vw - #{$widthLeftBlockBig});
}

@media screen and (max-width: 600px) {
  .main {
    flex-direction: column;
    width: 100%;
  }

  .main__left {
    @include size(100vw, #{$heightTopSmall});
  }

  .main__right {
    width: 100vw;
  }
}
