@import '../../../../shared/mixins.scss';

.scrollbar {
  margin-right: 10px;
  overflow-x: hidden;
}

.scrollbar__users {
  height: calc(
    100vh - #{$heightTopBig} - #{$heightMainUserBig} - #{$widthBorder *
      2}
  );
}

.scrollbar__messages {
  height: calc(100vh - #{$heightFormaBig} - #{$widthBorder * 2});
}

@media screen and (max-width: 600px) {
  .scrollbar__users {
    height: 106px;
  }

  .scrollbar__messages {
    height: calc(
      100vh - #{$heightMainUserSmall} - #{$heightFormaSmall} - #{$heightPanelPhone} -
        #{$heightTopSmall} - #{$widthBorder * 2}
    );
  }
}
