@import '../../../../shared/mixins.scss';

.list-users__left-mid {
  height: calc(100vh - #{$heightMainUserBig} - #{$heightTopBig});
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-users__list {
  margin-left: 10px;
}

@media screen and (max-width: 600px) {
  .list-users__left-mid {
    height: 105px;
  }
}
