@import '../../../../shared/mixins.scss';

.list-users__list {
  padding-left: 10px;
  border: $widthBorder var(--mainColor) solid;
  box-sizing: border-box;
  height: calc(100vh - $heightTopBig - $heightMainUserBig);
}

.list-users__left-mid {
  height: calc(100vh - #{$heightMainUserBig} - #{$heightTopBig});
  overflow-x: hidden;
  overflow-y: hidden;
}

.list-users__inside {
  width: calc(100vw - 427px - 20px);
}

@media screen and (max-width: 600px) {
  .list-users__left-mid {
    height: 105px;
  }

  .list-users__inside {
    width: calc(100vw - 45px);
  }
}
