@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

$heightMainUserSmall: 94px;
$heightFormaSmall: 137px;
$widthButtonSmall: 140px;
$heightTopSmall: 120px;

$widthLeftBlockBig: 250px;
$heightFormaBig: 170px;
$heightMainUserBig: 170px;
$heightTopBig: 48px;

$heightPanelPhone: 99px;

$mainColor: greenyellow;
// должно быть черным
$backgroundColor: rgba(0, 0, 0, 0.329);
$defaultBorder: 3px $mainColor solid;
$hoverBackgroundColor: red;
