$mainColor: greenyellow;
// $mainColor: yellow;
$backgroundColor: black;
// $backgroundColor: rgb(121, 74, 74);
$hoverBackgroundColor: red;

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

$heightMainUserSmall: 94px;
$heightFormaSmall: 137px;
$widthButtonSmall: 140px;
$heightTopSmall: 120px;
$widthLeftBlockBig: 250px;
$heightFormaBig: 170px;
$heightMainUserBig: 170px;
$heightTopBig: 48px;
$heightPanelPhone: 99px;
$widthBorder: 3px;
$defaultBorder: $widthBorder $mainColor solid;
