@import '../../shared/mixins.scss';

$smallPadding: 20px;

.intro {
  display: flex;
  height: 100vh;
  background-color: $backgroundColor;
  font-size: 20px;
  font-family: 'Inter', Arial, sans-serif;
}

.intro__container {
  @include size(420px, 265px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 30px;
  margin: auto;
  padding: 25px;
  color: $mainColor;
  border: $defaultBorder;
  box-sizing: border-box;
}

.intro__welcome {
  margin-top: 10px;
}

.intro__link {
  @include size(calc(100% - 40px), 35px);
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: $mainColor;
  border-radius: 7px;
  cursor: pointer;
}

.intro__link:hover {
  background-color: $hoverBackgroundColor;

  button {
    color: $mainColor;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  .intro {
    padding: $smallPadding;
    height: calc(100vh - (#{$smallPadding} * 2));
  }
}
