@import '../../../../shared/mixins.scss';

.forma__area {
  background-color: #bedad4;
  height: $heightFormaBig;
}

.forma__form {
  padding: 15px;
  height: $heightFormaSmall;
}

.forma__textarea {
  @include size(100%, 59px);
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
}

.forma__buttons {
  display: flex;
}

.forma__button {
  @include size(#{$widthButtonSmall}, 40px);
  background-color: #f3b633a8;
  font-size: 12px;
  border-radius: 5px;
  margin-right: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.forma__input-send {
  display: flex;
}

.forma__input {
  opacity: 0;
  @include size(0px, 0px);
}

.forma__input-prev {
  @include flexCenter;
  @include size(138px, 38px);
  border: 1px solid hsla(0, 10%, 30%, 0.314);
  background-color: #e1bae9;
  margin-top: 10px;
  border-radius: 5px;
}

.forma__input-label {
  @include flexCenter;
  @include size(#{$widthButtonSmall}, 40px);
  background-color: #f3b633a8;
  font-size: 12px;
  border-radius: 5px;
  margin-right: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.forma__prev-text {
  font-size: 12px;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .forma__area {
    position: fixed;
    bottom: 0;
    @include size(
      100%,
      calc(#{$heightMainUserSmall} + #{$heightFormaSmall})
    );
  }

  .forma__textarea {
    font-size: 14px;
    height: 28px;
  }
}

@media screen and (max-width: 700px) {
  .forma__buttons {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .forma__button {
    height: 20px;
  }

  .forma__input-label {
    height: 20px;
  }

  .forma__input-prev {
    @include size(calc(100% - #{$widthButtonSmall} - 40px), 20px);
  }
}
