@import '../../../../shared/mixins.scss';

.count-users__left-top {
  display: flex;
  justify-content: center;
  height: $heightTopBig;
  background-color: #e7e740;
  font-size: 16px;
}

.count-users__text-top {
  position: relative;
  right: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media screen and (max-width: 600px) {
  .count-users__left-top {
    @include flexCenter;
    @include size(100%, 20px);
    font-size: 12px;
  }

  .count-users__text-top {
    padding: 0;
  }
}
