@import '../../../../shared/mixins.scss';

.count-users__left-top {
  display: flex;
  justify-content: center;
  height: $heightTopBig;
  font-size: 16px;
  border: $widthBorder var(--mainColor) solid;
  box-sizing: border-box;
}

.count-users__text-top {
  position: relative;
  right: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--mainColor);
}

@media screen and (max-width: 600px) {
  .count-users__left-top {
    @include flexCenter;
    @include size(100%, 20px);
    color: var(--mainColor);
    font-size: 12px;
  }

  .count-users__text-top {
    padding: 0;
  }
}
